@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["empresa"]</h1>
    <img class="float-left p-2" src="/images/cintiamoraes.jpg" alt="Sample Photo" height="300"/>
</div>
